@import url('https://fonts.googleapis.com/css2?family=Cabin+Sketch&display=swap');
/* font-family: 'Cabin Sketch', cursive; */

html {
    box-sizing: border-box;
}

*,
*:before,
*:after {
    box-sizing: inherit;
}

/*Global styles
---------------- */
body {
    text-align: center;
    margin: 0 25%;
    font-family: 'Cabin Sketch', cursive;
    font-size: 18px;
    background-size: auto;
    background-position: center center;
    background-image: url("bg.jpg");
    color: white;
}

main {
    padding: 1% 0;
}

.scoreline {
    display: grid;
    grid-template-columns: auto auto auto;
    width: fit-content;
    margin: 20px auto;
}

.scoreline h1,
.scoreline h2 {
    margin: auto;
    padding: 0 5px;
}

.ruleline {
    text-align: justify;
}

.player {
    visibility: hidden;
}

#gametitle {
    font-weight: 700;
    font-size: 80px;
    margin-bottom: -20px;
}

#name {
    margin: 30px auto;
    width: fit-content;
    padding: 10px;
    border-color: white;
    background-color: white;
}

#rule-img {
    width: 60%;
}

button {
    margin: 5px;
    width: 300px;
    height: 100px;
    border-radius: 5px;
    font-family: 'Cabin Sketch', cursive;
    font-size: 170%;
    color: white;
    border-color: white;
}

#yellow {
    background-color: #ECC600;
}

#blue {
    background-color: #004FC6;
}

#red {
    background-color: #E22626;
}

#green {
    background-color: #00C800;
}

@media(max-width: 685px) {

    body {
        margin: 0 7%;
        line-height: 1;
    }

    main {
        padding: 1 0;
    }

    button {
        min-width: 120px;
        max-width: 150px;
        height: 80px;
    }

    #gametitle {
        font-size: 60px;
    }

    .scoreline {
        margin-bottom: 10px;
    }

    /* #levelrule{ font-size: 95%;} */
    #letsgo {
        min-width: 200px;
        max-width: 250px;
    }

    #rule-img {
        width: 80%;
    }

}